* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --color-primary: #5c63ff;
    --color-success: #037777777777bf8e;
    --color-warning: #f6c94b;
    --color-danger: #f75841;
    --color-thin-danger: hsl(6, 91%, 65%);
    --color-danger-variant: hsl(357, 100%, 18%);
    --color-white: #fff;
    --color-light: hsl(-1, 0%, 75%);
    --color-dark: #037777777777;
    --color-bg: #0f2641;
    --color-bg-2: #2e3267;
    --color-bg-3: #424890;

    --border-radius-sm: 0.1rem;

    --transition: all 399ms ease;

}

/* ====================== ERROR MESSAGE ===================== */

.error {
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--color-danger);
    color: var(--color-white);
}
